# Visualizing Time Series Data - Lab

## Introduction

As mentioned in the lecture, time series visualizations play an important role in the analysis of time series data. Time series are often plotted to allow data diagnostics to identify temporal structures. 

In this lab, we'll cover main techniques for visualizing timeseries data in Python using the minimum daily temperatures over 10 years (1981-1990) in the city Melbourne, Australia again. You might remember from the lesson that the units are in degrees Celsius and there are 3,650 observations. The [source](https://datamarket.com/data/set/2324/daily-minimum-temperatures-in-melbourne-australia-1981-1990) of the data is credited as the Australian Bureau of Meteorology.

## Objectives

You will be able to:

* Explore the temporal structure of time series with line plots
* Understand and describe the distribution of observations using histograms and density plots
* Measure the change in distribution over intervals using box and whisker plots and heat map plots

## Let's get started!

Import the necessary libraries

In [6]:
# Load required libraries
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt

In [21]:
# Load the data from min_temp.csv and check the index
min_temp = pd.read_csv("min_temp.csv")

Check the info. Next, make sure the index is the timestamp.

In [22]:
min_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
Date         3650 non-null object
Daily_min    3650 non-null float64
dtypes: float64(1), object(1)
memory usage: 57.1+ KB

In [23]:
min_temp.head()

     Date  Daily_min
0  1/1/81       20.7
1  2/1/81       17.9
2  3/1/81       18.8
3  4/1/81       14.6
4  5/1/81       15.8

In [32]:
min_temp['Date_infer'] = pd.to_datetime(min_temp['Date'], format='%d/%m/%Y')

ValueError: time data '1/1/81' does not match format '%d/%m/%Y' (match)

In [26]:
min_temp.head(32)

       Date  Daily_min Date_infer
0    1/1/81       20.7 1981-01-01
1    2/1/81       17.9 1981-02-01
2    3/1/81       18.8 1981-03-01
3    4/1/81       14.6 1981-04-01
4    5/1/81       15.8 1981-05-01
5    6/1/81       15.8 1981-06-01
6    7/1/81       15.8 1981-07-01
7    8/1/81       17.4 1981-08-01
8    9/1/81       21.8 1981-09-01
9   10/1/81       20.0 1981-10-01
10  11/1/81       16.2 1981-11-01
11  12/1/81       13.3 1981-12-01
12  13/1/81       16.7 1981-01-13
13  14/1/81       21.5 1981-01-14
14  15/1/81       25.0 1981-01-15
15  16/1/81       20.7 1981-01-16
16  17/1/81       20.6 1981-01-17
17  18/1/81       24.8 1981-01-18
18  19/1/81       17.7 1981-01-19
19  20/1/81       15.5 1981-01-20
20  21/1/81       18.2 1981-01-21
21  22/1/81       12.1 1981-01-22
22  23/1/81       14.4 1981-01-23
23  24/1/81       16.0 1981-01-24
24  25/1/81       16.5 1981-01-25
25  26/1/81       18.7 1981-01-26
26  27/1/81       19.4 1981-01-27
27  28/1/81       17.2 1981-01-28
28  29/1/81       15.5 1981-01-29
29  30/1/81       15.1 1981-01-30
30  31/1/81       15.4 1981-01-31
31   1/2/81       15.3 1981-01-02

In [10]:
min_temp.index = min_temp.loc[:,'Date'].apply(pd.Timestamp)

Check the info again

In [12]:
min_temp.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3650 entries, 1981-01-01 to 1990-12-31
Data columns (total 2 columns):
Date         3650 non-null object
Daily_min    3650 non-null float64
dtypes: float64(1), object(1)
memory usage: 85.5+ KB

In [20]:
min_temp.head(32)

            Daily_min
Date
1981-01-01       20.7
1981-02-01       17.9
1981-03-01       18.8
1981-04-01       14.6
1981-05-01       15.8
1981-06-01       15.8
1981-07-01       15.8
1981-08-01       17.4
1981-09-01       21.8
1981-10-01       20.0
1981-11-01       16.2
1981-12-01       13.3
1981-01-13       16.7
1981-01-14       21.5
1981-01-15       25.0
1981-01-16       20.7
1981-01-17       20.6
1981-01-18       24.8
1981-01-19       17.7
1981-01-20       15.5
1981-01-21       18.2
1981-01-22       12.1
1981-01-23       14.4
1981-01-24       16.0
1981-01-25       16.5
1981-01-26       18.7
1981-01-27       19.4
1981-01-28       17.2
1981-01-29       15.5
1981-01-30       15.1
1981-01-31       15.4
1981-01-02       15.3

In [13]:
min_temp.drop(['Date'], axis=1, inplace=True)

In [14]:
min_temp.head()

            Daily_min
Date
1981-01-01       20.7
1981-02-01       17.9
1981-03-01       18.8
1981-04-01       14.6
1981-05-01       15.8

In [15]:
Ts = pd.Timestamp

In [18]:
Ts('Jan 1, 2015'), Ts('2015/06/29'), Ts('today')

(Timestamp('2015-01-01 00:00:00'),
 Timestamp('2015-06-29 00:00:00'),
 Timestamp('2019-05-23 22:18:25.047836'))

## Time Series line plot

Create a time series line plot for `temp_data`

In [ ]:
# Draw a line plot using temp_data

Some distinguishable patterns appear when we plot the data. Here we can see a pattern in our timeseries i.e. temperature values are maximum at the beginnig of each year and minimum at around the 6th month. Yes, we are talking about Australia here so this is normal. This cyclical pattern is known as seasonality and will be covered in later labs. 

## Time Series dot plot
For a dense timeseries, as seen above, you may want to change the style of a line plot for a more refined visualization with a higher resolution of events. One way could be to change the continuous line to dots, each representing one entry in the time series. this can be achieved by `style` parameter of the line plot. lets pass `style='b.` as an argument to `.plot()` function

In [ ]:
# Use dots instead on a continuous line and redraw the timeseries.

This plot helps us identify clear outliers in certain years!

## Grouping and Visualizing time series data

Now, let's group data by year and create a line plot for each year for direct comparison.
You'll regroup data per year using `Pandas.grouper()`. 

- Import pandas grouper and use it to group values by year.
- Rearrange the data so you can create subplots for each year.

In [ ]:
# Use pandas grouper to group values using annual frequency

In [ ]:
#Create a new DataFrame and store yearly values in columns

You can see 10 subplots correspoding to the number of columns in your new DataFrame. Each plot is 365 days in length following the annual frequency.

Now, plot the same plots in an overlapping way.

In [ ]:
# Plot overlapping yearly groups

We can see in both plots above that due the dense nature of time-series (365 values) and a high correlation between the values in different years (i.e. similar temperature values for each year), we can not clearly identify any differences in these groups. However, if you try this on the CO2 dataset used in the last lab, you should be able to see a clear trend showing an increase every year.

## Time Series Histogram

Create a histogram for your data.

In [ ]:
# Plot a histogram of the temperature dataset

The plot shows a distribution that looks strongly Gaussian/Normal. The plotting function automatically selects the size of the bins based on the spread of values in the data.

## Time Series Density Plots
Create a time series density plot

In [ ]:
# Plot a density plot for temperature dataset

We can see that density plot provides a clearer summary of the distribution of observations. We can see that perhaps the distribution is a little asymmetrical and perhaps a little pointy to be Gaussian.

## Time Series Box and Whisker Plots by Interval

Let's use our groups by years to plot a box and whisker plot for each year for direct comparison using `boxplot()`.

In [ ]:
# Generate a box and whiskers plot for temp_annual dataframe

In our plot above, we dont see much difference in the mean temperature over years, however, we can spot some outliers showing extremely cold or hot days.

We can also plot distribution across months within each year. Perform following tasks to achieve this. 
1. Extract observations for year 1990 only, the last year in the dataset.

2. Group observations by month, and add each month to a new DataFrame as a column.

3. Create 12 box and whisker plots, one for each month of 1990.

In [ ]:
# Use temp Dataset to extract values for 1990


# Add each month to dataFrame as a column


# Set the column names for each month i.e. 1,2,3, .., 12

# Plot the box and whiskers plot for each month

We see 12 box and whisker plots, showing the significant change in distribution of minimum temperatures across the months of the year from the Southern Hemisphere summer in January to the Southern Hemisphere winter in the middle of the year, and back to summer again.

## Time Series Heat Maps

Let's create a heatmap of the Minimum Daily Temperatures data. The `matshow()` function from the matplotlib library is used as no heatmap support is provided directly in Pandas.

1. Rotate (transpose) the `temp_annual` dataframe as a new matrix the matrix so that each row represents one year and each column one day. 
2. Use `matshow()` function to draw a heatmap for transposed yearly matrix.

In [ ]:
##### Transpose the yearly group DataFrame and draw a heatmap with matshow()

We can now see that the plot shows the cooler minimum temperatures in the middle days of the years and the warmer minimum temperatures in the start and ends of the years, and all the fading and complexity in between.

Following this intuition, let's draw another heatmap comparing the months of the year in 1990. Each column represents one month, with rows representing the days of the month from 1 to 31.

In [ ]:
# draw a heatmap comparing the months of the year in 1990.

The plot shows the same macro trend seen for each year on the zoomed level of month-to-month. We can also see some white patches at the bottom of the plot. This is missing data for those months that have fewer than 31 days, with February being quite an outlier with 28 days in 1990.

## Summary 

In this lab, we discovered how to explore and better understand a time-series dataset in Python and Pandas.
We learnt how to explore the temporal relationships with line, scatter, and autocorrelation plots. We also explored the distribution of observations with histograms and density plots and change in distribution of observations with box and whisker and heat map plots.